<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}WikiStack{% endblock %}</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <a class='navbar-brand' href='#'>WIKISTACK</a>
            <a class = 'navbar' href='#'>ADD PAGE</a>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>

</html>